<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(type="text/css", rel="stylesheet", href="/style.css")
    title Cocktails | REST API
  body
    .container
      h1 Cocktails.db
      .wrapper
        h2 Endpoints:
        .panel
          a(href="/api/recipes", target="_blanc") #{url}api/recipes
          span get all recipes
        .panel
          a(href="/api/ingredients", target="_blanc") #{url}api/ingredients
          span get all ingredients
        h2 Query params:
        .block
          p 
            strong ?page=number | 
            em page by default = 1
          p 
            strong ?perPage=number | 
            em perPage by default = 10
